    $blackColor: #2c2c2c;
    $orangeYellowColor: #f6a823;
    $whiteBackgroundColor: #f0efed;
    $rustRedColor: #a82706;
    $blueAccentColor: #1fccdf;

    $colors:( 
        "primary": #4b49ac,
        "secondary": #98bdff,
        "secondary-dark": #7ca0fa,
        "tertiary": #f4a4a6,
        "tertiary-dark": #f37a7e,
        "primary-dark": #7878ea,
        "primary-light": #7978e9,
        "success": #b8edb4,
        "successSecondary": #4c7049,
        "error": #ffa29a,
        "errorSecondary": #9a6762,
        "brandColorPrimary": #f8e18e,
        "brandColorSecondary": #f434f4,
        "linkColor": black,
        "backgroundPrimary": #E3E8EB,
        "white": #ffffff,
        "lightGray": #c2c2c2,
        "lightGrayLighter": #e7eaeec6,

    );

    // width
    $base-width: 10%;

    // paddings and marging 
    $base-spacing: 5px;


    // media quesries break points
    // For Mobile Devices – 320px — 480px
    // iPads and Tablets – 481px — 768px
    // Laptops and small screen – 769px — 1024px
    // Large screens and Desktops – 1025px — 1200px
    // TV and Extra Large Screens – 1201px and more
    $layout-breakpoint-xs: 480px;
    $layout-breakpoint-sm: 768px;
    $layout-breakpoint-md: 1024px;
    $layout-breakpoint-lg: 1200px;
    $layout-breakpoint-xl: 1201px;
    // media quesries break points