$blue:    #0d6efd;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #d63384;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #198754;
$teal:    #20c997;
$cyan:    #0dcaf0;
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;
    $colors:( 
        "primary": #4b49ac,
        "primary-dark": #343378,
        "primary-light": #7a79c6,
        "secondary": #f39c12,
        "secondary-dark": #c77e0a,
        "tertiary": #e67e22,
        "tertiary-dark": #be6415,
        "success": #2ecc71,
        "successSecondary": #27ad60,
        "error": #e74c3c,
        "errorSecondary": #dc2d1b,
        "brandColorPrimary": #4b49ac,
        "brandColorSecondary": #9b59b6,
        "linkColor": #3498db,
        "backgroundPrimary": #f5f6fa,
        "info": #78f8fa,
        "white": #ffffff,
        "lightGrayDark": #e8e8ed,
        "lightGrayDarker": #babac2,
        "lightGray": #dcdde1,
        "lightGrayLighter": #f0f1f6
    );
    // $info:          $cyan;
    // $primary:   map-get($map: $colors, $key: "primary");
    // $secondary: map-get($map: $colors, $key: "secondary");
    // $tertiary:  map-get($map: $colors, $key: "tertiary");
    // $success:   map-get($map: $colors, $key: "success");
    // $warning:   map-get($map: $colors, $key: "warning");
    // $danger:    map-get($map: $colors, $key: "danger");
    // $light:     map-get($map: $colors, $key: "light");
    // $dark:      map-get($map: $colors, $key: "dark");3.

    $grays: (
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
);
    $primary:       $blue;
    $secondary:     $gray-600;
    $success:       $green;
    $info:          $cyan;
    $warning:       $yellow;
    $danger:        $red;
    $light:         $gray-100;
    $dark:          $gray-900;


    $primaryText: #2c2c2c;
    $primary: #4b49ac;
    $theme-colors: (
        "primary":    $primary,
        "secondary":  $secondary,
        "success":    $success,
        "info":       $info,
        "warning":    $warning,
        "danger":     $danger,
        "light":      $light,
        "dark":       $dark,
        "lightGrayDark": #dedee2,
        "lightGrayDarker": #babac2,
        "lightGray": #dcdde1,
        "lightGrayLighter": #f0f1f6
    );

    // width
    $base-width: 10%;

    // paddings and marging 
    $base-spacing: 5px;


    // media quesries break points
    // For Mobile Devices – 320px — 480px
    // iPads and Tablets – 481px — 768px
    // Laptops and small screen – 769px — 1024px
    // Large screens and Desktops – 1025px — 1200px
    // TV and Extra Large Screens – 1201px and more
    $layout-breakpoint-xs: 480px;
    $layout-breakpoint-sm: 768px;
    $layout-breakpoint-md: 1024px;
    $layout-breakpoint-lg: 1200px;
    $layout-breakpoint-xl: 1201px;
    // media quesries break points
:root {
    --customPrimary: #4b49ac;
    --customSecondary: #98bdff;
    --customAccent: #1fccdf;
    --customBackground: #f0efed;
    --customText: #2c2c2c;
}

