    // $blackColor: #2c2c2c;
    // $orangeYellowColor: #f6a823;
    // $whiteBackgroundColor: #f0efed;
    // $rustRedColor: #a82706;
    // $blueAccentColor: #1fccdf;
    // $colors:( 
    //     "primary": #4b49ac,
    //     "secondary": #98bdff,
    //     "secondary-dark": #7ca0fa,
    //     "tertiary": #f4a4a6,
    //     "tertiary-dark": #f37a7e,
    //     "primary-dark": #7878ea,
    //     "primary-light": #7978e9,
    //     "success": #b8edb4,
    //     "successSecondary": #4c7049,
    //     "error": #ffa29a,
    //     "errorSecondary": #9a6762,
    //     "brandColorPrimary": #f8e18e,
    //     "brandColorSecondary": #f434f4,
    //     "linkColor": black,
    //     "backgroundPrimary": #E3E8EB,
    //     "white": #ffffff,
    //     "lightGray": #c2c2c2,
    //     "lightGrayLighter": #e7eaeec6,

    // );
    $colors:( 
        "primary": #4b49ac,
        "primary-dark": #343378,
        "primary-light": #7a79c6,
        "secondary": #f39c12,
        "secondary-dark": #c77e0a,
        "tertiary": #e67e22,
        "tertiary-dark": #be6415,
        "success": #2ecc71,
        "successSecondary": #27ad60,
        "error": #e74c3c,
        "errorSecondary": #dc2d1b,
        "brandColorPrimary": #4b49ac,
        "brandColorSecondary": #9b59b6,
        "linkColor": #3498db,
        "backgroundPrimary": #f5f6fa,
        "white": #ffffff,
        "lightGray": #dcdde1,
        "lightGrayLighter": #f0f1f6,

    );
    $primary:   map-get($map: $colors, $key: "primary");
    $secondary: map-get($map: $colors, $key: "secondary");
    $tertiary:  map-get($map: $colors, $key: "tertiary");
    $success:   map-get($map: $colors, $key: "success");
    $info:      map-get($map: $colors, $key: "info");
    $warning:   map-get($map: $colors, $key: "warning");
    $danger:    map-get($map: $colors, $key: "danger");
    $light:     map-get($map: $colors, $key: "light");
    $dark:      map-get($map: $colors, $key: "dark");


    $primaryText: #2c2c2c;
    $primary: #4b49ac;
    // $secondary: rgb(99, 172, 73);

    // width
    $base-width: 10%;

    // paddings and marging 
    $base-spacing: 5px;


    // media quesries break points
    // For Mobile Devices – 320px — 480px
    // iPads and Tablets – 481px — 768px
    // Laptops and small screen – 769px — 1024px
    // Large screens and Desktops – 1025px — 1200px
    // TV and Extra Large Screens – 1201px and more
    $layout-breakpoint-xs: 480px;
    $layout-breakpoint-sm: 768px;
    $layout-breakpoint-md: 1024px;
    $layout-breakpoint-lg: 1200px;
    $layout-breakpoint-xl: 1201px;
    // media quesries break points



:root {
    --customPrimary: #4b49ac;
    --customSecondary: #98bdff;
    --customAccent: #1fccdf;
    --customBackground: #f0efed;
    --customText: #2c2c2c;
}
